html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{box-sizing: border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.contaner_1440{
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */

.contaner{
    background-color: white;
    position: fixed;
    z-index: 2;
    top:0;
   width: 100%;
    margin: 0 auto;
}

header{
  height: 116px;
    width: 77%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.lable{
    cursor: pointer;
    font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: rgba(28, 42, 57, 1);

}


.header_ul{display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    font-family: Montserrat;
font-size: 10px;
font-weight: 700;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: rgba(92, 106, 121, 1);
}

.header_ul{
    font-size: 10px;
font-weight: 700;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: rgba(92, 106, 121, 1);

}

.header_ul_active{
    font-family: Montserrat;
font-size: 10px;
font-weight: 900;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color:black ;
text-decoration: none;
}

.profile_section{
    
    display: flex;
    gap:40px;
    align-items: center;
    flex-wrap: wrap;
}
.profile_section>div{
    cursor: pointer;
}

.cart::after{
    visibility: var(--hidden);
    content: attr(data-style-type);
    position: relative;
    top: 2px;
    left: -13px;
    padding: 1px 4px 1px 4px;
    color: #FFFFFF;
    background-color:var(--color);
    border-radius: 50%;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    text-transform: capitalize;
}

:root {
    --color: #FF353A;
    --hidden: hidden;
  }




/* BOOKS */
.description{
    width: 176px;
    align-self: center;
    margin: 0 auto;
}

.cards{
    padding-top: 50px;
    margin-left: -60px;
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
}
.card{
    display: flex;
    width: 424px;
    /* border:1px double blue; */
}


.card_cover{
    height: 327px;
width: 212px;
left: 356px;
top: 977px;
border-radius: 0px;
box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}

.author{
    font-family: Open Sans;
font-size: 10px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color:#5C6A79 ;

}
.title{
    margin-top: 4px;
    font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color:#1C2A39;
}
.review{
    
    
    font-family: Open Sans;
font-size: 10px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: #5C6A79;
margin-top: 17px;
}
.price{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    
color:#1C2A39;
margin-top: 16px;
}


.buy{
    cursor: pointer;
    width: 176px;
height: 45px;
border: 1px solid #4C3DB2;
font-family: Montserrat;
font-size: 8px;
font-weight: 700;
line-height: 10px;
letter-spacing: 0em;
text-align: center;
color:#4C3DB2;
background: #FFFFFF;
margin-top: 16px;
text-transform: uppercase;
}
/* CATALOG */

.catalog{ position: relative;
    
    height: 710px;
    width: 416px;
 
    border-radius: 0px;
    
}

.catalog_ul{
    
    width: 416px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:23px;
}

.catalog_ul_a{
    font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: #5C6A79;

}


.catalog_ul_a_active{
    font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #1C2A39;
text-decoration: none;
}


.load_more{
    width: 176px;
height: 45px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 10px;
color: #4C3DB2;
border: 1px solid #4C3DB2;
text-transform: uppercase;
display: block;
    margin: 84px auto 74px;
    background: #FFFFFF;
}

.catalog_cover{
    position: absolute;
width: 416px;
height: 710px;
background: #EFEEF6;
top: 0;
left: 0;
z-index: -1;
}

.d_flex{
    display: flex;
}